<!DOCTYPE html>
<html lang="en-GB">

<head>

    {{ &base_header }}

    {{ &highlight }}

    <script src="/static/rs.min.js"></script>
    <script src="/scripts/showMotd.js" defer></script>
    <link rel="stylesheet" href="/styles/index.css">

    <title>home - m1kadev</title>
</head>

<body>

    {{ &navbar }}

    <div id="content">
        <main>
            {{ &fxg_content }}
            <hr>
            {{ &footer }}
        </main>
    </div>

    <div id="motd">
        <h2></h2>
    </div>
</body>

</html>