@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --bg-colour: #272640;
    --txt-colour: #fae9d3;
}

body,
html {
    background-color: var(--bg-colour);
    margin: 0px;
}

h1 {
    margin: 0px;
}

#mark {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    display: inline-block;
    color: var(--txt-colour);
    margin-top: 1em;
    margin-left: 1em;
}

#mark>h3 {
    margin: 0px;
    text-align: right;
    font-weight: 300;
}

#mark>h1 {
    font-weight: 400;
}

#content {
    font-family: "Gothic A1", sans-serif;
    color: var(--txt-colour);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
}

#main-focus>h2 {
    font-weight: normal;
}

#main-focus>p {
    font-weight: lighter;
}

#main-focus {
    background-color: #00000080;
    width: 50vw;
    margin: auto;
    padding: 2em;
}

footer {
    display: flex;
    justify-content: space-between;
}

#lynx {
    justify-content: right;
}