@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-colour: #32174D;
}

body,
html {
    background-color: var(--bg-colour);
    margin: 0px;
}

#title>h1,
h3 {
    margin: 0px;
    transform: scale(0.79, 1.0);
}

#title>h3 {
    text-align: right;
}

h1 {
    margin: 0px;
    font-family: "Avenir Next Condensed";
    font-weight: normal;
}

#title {
    font-family: 'Times New Roman', Times, 'serif' !important;
    font-weight: bold;
    display: inline-block;
    color: #E0E0E0;
}

#content {
    font-family: "Avenir Next";
    color: #E0E0E0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
}

#main-focus {
    background-color: #00000080;
    width: 50vw;
    margin: auto;
    padding: 2em;
}

footer {
    display: flex;
    justify-content: space-between;
}

#lynx {
    justify-content: right;
}