#motd {
    color: var(--txt-colour);
    font-family: "Space Grotesk", sans-serif;
}

#motd>h2 {
    position: relative;
    float: right;
    writing-mode: vertical-rl;
    text-decoration: none;
    margin: 0;
    padding: .5em;
    height: 67vh;
}